<% if user_signed_in? %>
  <h2>Solo puedes votar una vez</h2>
  <p>Luego de votar podras ver como van las apuestas!</p>
<% else %>
  <h1>Bienvenido/a !</h1>
  <p>Quien va a ganar las municipales en Providencia? Apuesta por tu elegido!<br>
    Registrate y vota, solo ocupamos tu registro para validar el voto.</p>
<% end %>
  <div class="clearfix">
    <% if @candidatos["Josefa"] %>
    <div class="pull-left">
      <p><%= image_tag "josefa.jpg", :class => 'img-polaroid' %></p>
    <% if user_signed_in? %>
      <% if current_user.vote %>
      <p style="text-align: center;"><%= @candidatos["Josefa"].votes %></p>
      <% else %>
      <p style="text-align: center;"><a href="/welcome/vote/<%= @candidatos["Josefa"].id %>" class="btn btn-success">Votar</a></p>
      <% end %>
    <% end %>
    </div>
    <% else %>
    <p>Candidato "Josefa" no encontrado.</p>
    <% end %>
    <% if @candidatos["Labbe"] %>
    <div class="pull-right">
      <p><%= image_tag "labbe.jpeg", :class => 'img-polaroid' %></p>
    <% if user_signed_in? %>
      <% if current_user.vote %>
      <p style="text-align: center;"><%= @candidatos["Labbe"].votes %></p>
      <% else %>
      <p style="text-align: center;"><a href="/welcome/vote/<%= @candidatos["Labbe"].id %>" class="btn btn-success">Votar</a></p>
      <% end %>
    <% end %>
    </div>
    <% else %>
    <p>Candidato "Labbe" no encontrado.</p>
    <% end %>
  </div>